@model LeaveManagementSystem.ViewModel.SignInViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
   
    <link rel="stylesheet" href="~/Content/StyleSheetSignIn.css">
</head>
<body>

        @using (Html.BeginForm("signin", "account", FormMethod.Post))
        {
    <div class="container">
        <h1>Login In</h1>

        <hr>

        @Html.LabelFor(temp => temp.EmailID, "Email ID")
        @Html.TextBoxFor(temp => temp.EmailID)
        @Html.ValidationMessageFor(temp => temp.EmailID, "", new { @class = "text-danger",required="required" })
        <br />
        
        @Html.LabelFor(temp => temp.Password)
        @Html.PasswordFor(temp => temp.Password)
        @Html.ValidationMessageFor(temp => temp.Password, "", new { @class = "text-danger", required = "required" })
       
        <hr>

        <button type="submit" class="btn btn-success" style="float:right">Sign In</button>
        <div class="text-danger">
            @Html.ValidationSummary()
        </div>
       
    </div>
  
        }

</body>
</html>
