@model LeaveManagementSystem.ViewModel.ViewModel.UpdateProfileViewModel
@{
    ViewBag.Title = "UpdateProfile";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/Content/CustomStyleSheet.css">



@using (Html.BeginForm("updateprofile", "account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="container">
    <h1>Update Profile</h1>
    <p>Your current details.</p>
    <label for="Image">Add Image</label>
    <input type="file" name="Image" id="Image" />
    
    <br>
    <br> <br> <br> <br>
    @Html.HiddenFor(temp => temp.EmployeeID)


    @Html.LabelFor(temp => temp.FirstName, "First Name")
    @Html.TextBoxFor(temp => temp.FirstName)

    @Html.LabelFor(temp => temp.MiddleName, "Middle Name")
    @Html.TextBoxFor(temp => temp.MiddleName)

    @Html.LabelFor(temp => temp.LastName, "Last Name")
    @Html.TextBoxFor(temp => temp.LastName)

    @Html.LabelFor(temp => temp.DateOfBirth, "Date Of Birth")
    @Html.TextBoxFor(model => model.DateOfBirth,
           new { @type = "date", @Value = Model.DateOfBirth.ToString("yyyy-MM-dd") })<br /><br />

    @Html.LabelFor(temp => temp.MobileNumber, "Mobile Number")
    @Html.TextBoxFor(temp => temp.MobileNumber)



    @Html.LabelFor(temp => temp.AddressLine1, "AddressLine 1")
    @Html.TextBoxFor(temp => temp.AddressLine1)

    @Html.LabelFor(temp => temp.AddressLine2, "AddressLine 2")
    @Html.TextBoxFor(temp => temp.AddressLine2)

    @Html.LabelFor(temp => temp.AddressLine3, "AddressLine 3")
    @Html.TextBoxFor(temp => temp.AddressLine3)


    @Html.LabelFor(temp => temp.GenderID, "Gender")
    @Html.DropDownListFor(temp => temp.GenderID, Model.GenderList, Model.GenderName)

    <br /><br />





    @Html.LabelFor(temp => temp.Nationality, "Nationality")
    @Html.TextBoxFor(temp => temp.Nationality)


    <button type="submit" class="btn btn-success">Save</button>
</div>
    }








