@model LeaveManagementSystem.ViewModel.ViewModel.UpdatePasswordViewModel
@{
    ViewBag.Title = "UpdatePassword";
}



<link rel="stylesheet" href="~/Content/CustomStyleSheet.css">


<div class="container">
    <h3>Change Password</h3>

    <hr>


    @using (Html.BeginForm("updatepassword", "account", FormMethod.Post))
    {
        @Html.LabelFor(temp => temp.Password)
        @Html.PasswordFor(temp => temp.Password, new { @class = "text-danger", required = "required" })



        @Html.LabelFor(temp => temp.ConfirmPassword, "Confirm Password")
        @Html.PasswordFor(temp => temp.ConfirmPassword, new { @class = "text-danger", required = "required" })


        @Html.HiddenFor(temp => temp.EmployeeID)

        <span class="text-danger">
            @Html.ValidationSummary()
        </span>

        <button type="submit" class="btn btn-success">Save</button>

    }


    <hr>

</div>

@if (ViewBag.Response != null)
{
    <script>
        alert("@ViewBag.Response");
    </script>

}






<script>
    $(document).ready(function () {
        $("#ConfirmPassword").blur(validate);
        function validate(event) {
            var password = $("#Password").val();
            var ConfirmPassword = $("#ConfirmPassword").val();

            if (password == ConfirmPassword) {
                $("#validate-status").text("password match").css("color", "green");
            }
            else {
                $("#validate-status").text("password not match").css("color", "red");
            }

        }
    });

</script>

<style>
    #active {
        background-color: grey !important;
        color: white !important;
    }
</style>
<script>

    $("a[href='/Account/updatepassword']").attr("id", "active");

</script>