@model LeaveManagementSystem.ViewModel.ViewModel.UpdatePasswordViewModel
@{
    ViewBag.Title = "UpdatePassword";
}

<link rel="stylesheet" href="~/Content/CustomStyleSheet.css">


<div class="container">
    <h3>Change Password</h3>

    <hr>

    @using (Html.BeginForm("updatepassword", "account", FormMethod.Post))
    {
        @Html.LabelFor(temp => temp.Password)
        @Html.PasswordFor(temp => temp.Password)


        @Html.LabelFor(temp => temp.ConfirmPassword)
        @Html.PasswordFor(temp => temp.ConfirmPassword)
        <p id="validate-status"></p>

        @Html.HiddenFor(temp => temp.EmployeeID)


        <button type="submit" class="btn btn-success">Save</button>
    }



    <hr>



</div>
<script>
    $(document).ready(function () {
        $("#ConfirmPassword").blur(validate);
        function validate(event) {
            var password1 = $("#Password").val();
            var password2 = $("#ConfirmPassword").val();

            if (password1 == password2) {
                $("#validate-status").text("match").css("color", "green");
            }
            else {
                $("#validate-status").text("not match").css("color", "red");
            }

        }
    });

</script>