@model LeaveManagementSystem.ViewModel.RequestVacationViewModel
<link rel="stylesheet" href="~/Content/CustomStyleSheet.css">

<br />
<a href="~/Leave/verifyleave" class="btn btn-primary" style="float:right;">Back</a>
<form action="" method="post">
    <div class="container">
        <h3>Leave Request</h3>

        <hr>
        <label for="Name"><b>Name</b></label>
        <input type="text" id="Name" value="@Model.RequesterName" readonly>
        <label for="Designation"><b>Designation</b></label>
        <input type="text" id="Designation" value="@Model.RequesterDesignation" readonly>
        <label for="fromdate"><b>From Date</b></label>
        <input type="text" value="@Model.FromDate.ToShortDateString()" id="fromdate" readonly>

        <label for="todate"><b>To Date</b></label>
        <input type="text" value="@Model.ToDate.ToShortDateString()" id="todate" readonly>
        <label for="fromdate"><b>No of Days</b></label>
        <input type="text" name="FromDate" id="fromdate" readonly>
       
        <br>
        <label><b>Vacation Type</b></label>
        <input type="text" value="@Model.VacationName" readonly>


        <br /><br />




        <label for="comment"><b>Reason</b></label>
<input type="text" id="comment" style="float:right;"  value="@Model.Comments" readonly>

 
        <br><br><br><br><br>
        <label for="comment"><b>Reply</b></label>
<textarea style="float:right;" id="comment" name="Response"  rows="4" cols="50">

  </textarea>

    @Html.HiddenFor(temp => temp.RequestID)
        @Html.HiddenFor(temp=>temp.CreatedBy)
    </div>
    <br><br><br><br><br>
    <button type="submit" class="btn btn-success" name="LeaveStatus" value="Accept">Accept</button>
    <button type="submit" style="float:right;" class="btn btn-danger" name="LeaveStatus" value="Reject">Decline</button>


</form>
