@model List<LeaveManagementSystem.ViewModel.RequestVacationViewModel>
@{
    ViewBag.Title = "LeaveStatus";
}
@{
    int count = 0;
}
@*@{
    Html.RenderPartial("_EmployeePartialView");
}*@
<br />
<br />
<h3><b>Leave Status</b></h3>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">No of Days</th>
            <th scope="col">FromDate</th>
            <th scope="col">ToDate</th>
            <th scope="col">VacationName</th>
            <th scope="col">Approver Name</th>
            <th scope="col">Approver Reply</th>
            <th scope="col">Leave Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@(@count+=1)</th>
                <td align="center">@item.NoOfDays</td>
                <td>@item.FromDate.ToShortDateString()</td>
                <td>@item.ToDate.ToShortDateString()</td>
                <td>@item.VacationName</td>
                <td>@item.ApproverName</td>
                <td>@item.Response</td>
                <td>@item.LeaveStatus</td>
            </tr>
        }


    </tbody>
</table>