@model LeaveManagementSystem.ViewModel.RequestVacationViewModel
<link rel="stylesheet" href="~/Content/CustomStyleSheet.css">

<br />
<a href="~/Leave/verifyleave" class="btn btn-primary" style="float:left;">Back</a>
<form action="" method="post">
    <div class="container">
        <h3>Leave Request</h3>

        <hr>



        @Html.LabelFor(temp => temp.RequesterName, "Name")
        @Html.TextBoxFor(temp => temp.RequesterName, new { @Value = Model.Creater.FirstName + Model.Creater.MiddleName + Model.Creater.LastName, @readonly = true, @class = "form-control" })

        @Html.LabelFor(temp => temp.RequesterDesignation, "Designation")
        @Html.TextBoxFor(temp => temp.RequesterDesignation, new { @Value = Model.Creater.Designation.DesignationName, @readonly = true, @class = "form-control" })


        @Html.LabelFor(temp => temp.NoOfDays, "No of Days")
        @Html.TextBoxFor(temp => temp.NoOfDays, new { @value = Model.NoOfDays, @class = "form-control", @readonly = true })




        @Html.LabelFor(temp => temp.FromDate, "From Date")
        @Html.TextBoxFor(model => model.FromDate,
               new { @type = "date", @Value = Model.FromDate.ToString("yyyy-MM-dd"), @class = "form-control", @readonly = true })
        <br />

        @Html.LabelFor(temp => temp.ToDate, "To Date")
        @Html.TextBoxFor(model => model.ToDate,
              new { @type = "date", @Value = Model.ToDate.ToString("yyyy-MM-dd"), @class = "form-control", @readonly = true })
        <br />


        @Html.LabelFor(temp => temp.VacationName, "Vacation Type")
        @Html.TextBoxFor(temp => temp.VacationName, new { @value = Model.VacationType.VacationName, @class = "form-control", @readonly = true })







        @Html.LabelFor(temp => temp.Comments)
        @Html.TextAreaFor(temp => temp.Comments, new { @value = Model.Comments, @class = "form-control", @readonly = "true" })

        <br />
        @Html.LabelFor(temp => temp.Response)
        @Html.TextAreaFor(temp => temp.Response, new { @class = "form-control" })



        @Html.HiddenFor(temp => temp.RequestID)
        @Html.HiddenFor(temp => temp.CreatorID)
    </div>
   
    <button type="submit" class="btn btn-success" name="LeaveStatus" value="Accept">Accept</button>
    <button type="submit" style="float:right;" class="btn btn-danger" name="LeaveStatus" value="Reject">Decline</button>


</form>
