@model LeaveManagementSystem.ViewModel.RequestVacationViewModel
@{
    ViewBag.Title = "SendLeaveRequest";
}
@{
    var emp = (LeaveManagementSystem.ServiceLayer.Service.Session.UserSessionModel)Session["EmployeeDetails"];
}

@if (ViewBag.Response != null)
{
    <div class="alert alert-success">
        <strong>Updated Successfully!</strong>
    </div>

}
<link rel="stylesheet" href="~/Content/CustomStyleSheet.css">



@if (emp.CanApproveLeaveRequest)
{
    <style>
        .hide-element {
            visibility: visible !important;
        }
    </style>
}
<br />
<a href="~/Leave/verifyleave" class=" hide-element">Verify Request</a>
<a href="~/Leave/Leavestatus" class="btn btn-primary " style="float:right;">Leave Status</a>
<form action="~/leave/sendleaverequest" method="post">
    <div class="container">
        <h3>Leave Request</h3>
        <p>Please fill in this form to request a leave.</p>
        <hr>
        @Html.LabelFor(temp => temp.NoOfDays, "No of Days")
        @Html.TextBoxFor(temp => temp.NoOfDays, new { @class = "form-control", required = "required" });
        <div> @Html.ValidationMessageFor(temp => temp.NoOfDays, "", new { @class = "text-danger" })</div>



        @Html.LabelFor(temp => temp.FromDate,"From Date")
        @Html.TextBoxFor(model => model.FromDate,
               new { @type = "date", @Value = Model.FromDate.ToString("yyyy-MM-dd"), @class = "form-control", required = "required" })
        <div> @Html.ValidationMessageFor(temp => temp.FromDate, "", new { @class = "text-danger" })</div>
        <br />
        @Html.LabelFor(temp => temp.ToDate,"To Date")
        @Html.TextBoxFor(model => model.ToDate,
              new { @type = "date", @Value = Model.ToDate.ToString("yyyy-MM-dd"), @class = "form-control", required = "required" })
        <div> @Html.ValidationMessageFor(temp => temp.ToDate, "", new { @class = "text-danger" })</div>

        <br /><br />
        <div class="form-row">
            <div>

            </div>
        </div>

        <div class=" form-row">


            <div class="form-group col-sm-1">
                @Html.LabelFor(temp => temp.AmOnly, "Am ")
                @Html.CheckBoxFor(temp => temp.AmOnly, new { @class = "form-control" })
            </div>


            <div class="form-group col-sm-1">
                @Html.LabelFor(temp => temp.PmOnly, "Pm ")
                @Html.CheckBoxFor(temp => temp.PmOnly, new { @class = "form-control" })

            </div>

        </div>

        <br /><br />



        @Html.LabelFor(temp => temp.VacationStringID, "Vacation Type")
        @Html.DropDownListFor(temp => temp.VacationStringID, Model.VacationTypeList, "Select Vacation", new { @class = "form-control", required = "required" })
        <div> @Html.ValidationMessageFor(temp => temp.VacationStringID, "", new { @class = "text-danger" })</div>

        <br /><br />
        <div>


            @Html.LabelFor(temp => temp.ApproverID, "Approver Name")
            @Html.DropDownListFor(temp => temp.ApproverID, Model.ApproverList, "--------------", new { @class = "form-control", required = "required" })
            <div> @Html.ValidationMessageFor(temp => temp.ApproverID, "", new { @class = "text-danger" })</div>

        </div>
        <br><br>


        @Html.LabelFor(temp => temp.Comments,"Comment")
        @Html.TextAreaFor(temp => temp.Comments, new { @class = "form-control", required = "required" })
        <div> @Html.ValidationMessageFor(temp => temp.Comments, "", new { @class = "text-danger" })</div>




        <br /><br />
        <button type="submit" class="btn btn-primary">Send Request</button>
    </div>


</form>

<style>
    #active {
        background-color: grey !important;
        color: white !important;
    }
</style>
<script>

    $("a[href='/leave/sendleaverequest']").attr("id", "active");

</script>