@model List<LeaveManagementSystem.ViewModel.RequestVacationViewModel>
@{
    ViewBag.Title = "VerifyLeave";
}




@{
    ViewBag.Title = "VerifyRequest";
}
<br />
<h4>VerifyRequest</h4>
<br />
<form action="~/Leave/VerifyLeave" method="post">
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
               
                <th scope="col">From Date</th>
                <th scope="col">To Date</th>
                <th scope="col">VacationType</th>
               
                <th scope="col">Accept/Reject</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model)
            {
               
                <tr>
                    <td>@item.Creator.FirstName @item.Creator.MiddleName @item.Creator.LastName</td>
                    <td>@item.Creator.Designation.DesignationName</td>
                  
                    <th style="font-weight: normal;">@item.FromDate.ToShortDateString()</th>
                    <td>@item.ToDate.ToShortDateString()</td>
                    <td>@item.VacationType.VacationName</td>
                  
                    <td><a href="~/Leave/LeaveDetail/@item.RequestID" class="btn btn-info">Request Details</a></td>
                    
                </tr>
            }




        </tbody>
    </table>
</form>