
@model LeaveManagementSystem.ViewModel.ViewModel.AddEmployeeViewModel
@if (ViewBag.Response != null)
{
    <div class="alert alert-success">
        <strong>Updated Successfully!</strong>
    </div>

}


<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="~/Content/CustomStyleSheet.css">



<form action="/employee/addemployee" class="form-validation" method="post" novalidate="novalidate" enctype="multipart/form-data">
    <div class="container ">
        <h3>Register</h3>
        <p>Enter employee details.</p>
        <br> <br>
        <label for="Image">Upload Image</label>
        <input type="file" name="Image" id="Image" />
        <br>
        <br> <br> <br> <br>
        @Html.HiddenFor(temp => temp.EmployeeID)
        <div class="form-row">
            <div class="form-group col-sm-3">
                @Html.LabelFor(temp => temp.FirstName, "First Name")
                @Html.TextBoxFor(temp => temp.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(temp => temp.FirstName, "", new { @class = "text-danger", required = "required" })
            </div>
            <div class="form-group col-sm-3">
                @Html.LabelFor(temp => temp.MiddleName, "Middle Name")
                @Html.TextBoxFor(temp => temp.MiddleName, new { @class = "form-control" })

            </div>


            <div class="form-group col-sm-3">
                @Html.LabelFor(temp => temp.LastName, "Last Name")
                @Html.TextBoxFor(temp => temp.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(temp => temp.LastName, "", new { @class = "text-danger", required = "required" })

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-9">
                @Html.LabelFor(temp => temp.EmailID, "Email ID")
                @Html.TextBoxFor(temp => temp.EmailID, new { @class = "form-control" })
                @Html.ValidationMessageFor(temp => temp.EmailID, "", new { @class = "text-danger", required = "required" })

                <small class="email-exist text-danger"></small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-4">
                @Html.LabelFor(temp => temp.Password)
                @Html.PasswordFor(temp => temp.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(temp => temp.Password, "", new { @class = "text-danger", required = "required" })
            </div>
            <div class="form-group col-sm-1">

            </div>
            <div class="form-group col-sm-4">
                @Html.LabelFor(temp => temp.ConfirmPassword, "Confirm Password")
                @Html.PasswordFor(temp => temp.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(temp => temp.ConfirmPassword, "", new { @class = "text-danger", required = "required" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-9">
                @Html.LabelFor(temp => temp.AddressLine1, "Address")
                @Html.TextBoxFor(temp => temp.AddressLine1, new { @class = "form-control" })
                @Html.ValidationMessageFor(temp => temp.AddressLine1, "", new { @class = "text-danger", required = "required" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-9">
                @Html.LabelFor(temp => temp.AddressLine2, "Address")
                @Html.TextBoxFor(temp => temp.AddressLine2, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-9">
                @Html.LabelFor(temp => temp.AddressLine3, "Address")
                @Html.TextBoxFor(temp => temp.AddressLine3, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-sm-9">

                @Html.LabelFor(temp => temp.MobileNumber, "Mobile Number")
                @Html.TextBoxFor(temp => temp.MobileNumber, new { pattern = "^[789]\\d{9}$", required = "required", @class = "form-control" })
                @Html.ValidationMessageFor(temp => temp.MobileNumber, "", new { @class = "text-danger", required = "required" })

                <small class="mobile-exist text-danger"></small>
            </div>
            <div class="form-group col-sm-9">

                @Html.LabelFor(temp => temp.Nationality, "Nationality")
                @Html.TextBoxFor(temp => temp.Nationality, new { required = "required", @class = "form-control" })
                @Html.ValidationMessageFor(temp => temp.Nationality, "", new { @class = "text-danger", required = "required" })

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-4">
                @Html.LabelFor(temp => temp.DateOfBirth, "Date Of Birth")
                @Html.TextBoxFor(model => model.DateOfBirth,
         new { @type = "date", @class = "form-control" })
                @Html.ValidationMessageFor(temp => temp.DateOfBirth, "", new { @class = "text-danger", required = "required" })

            </div>
            <div class="form-group col-sm-1">

            </div>
            <div class="form-group col-sm-4">
                @Html.LabelFor(temp => temp.SelectedGenderId, "Gender")
                @Html.DropDownListFor(temp => temp.SelectedGenderId, Model.GenderList, "Select Gender", new { @class = "form-control" })
                @Html.ValidationMessageFor(temp => temp.SelectedGenderId, "", new { @class = "text-danger", required = "required" })
                <br><br>
            </div>
        </div>
        <br /><br />
        <fieldset>
            <legend>Experience</legend>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    @Html.LabelFor(temp => temp.Experience.CompanyName, "Company Name")
                    @Html.TextBoxFor(temp => temp.Experience.CompanyName, new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-1">

                </div>
                <div class="form-group col-sm-4">
                    @Html.LabelFor(temp => temp.Experience.JobRole, "Job Role")
                    @Html.TextBoxFor(temp => temp.Experience.JobRole, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-4">
                    @Html.LabelFor(temp => temp.Experience.StartDate, "Start Date")
                    @Html.TextBoxFor(model => model.Experience.StartDate,
             new { @type = "date", @class = "form-control" })

                </div>
                <div class="form-group col-sm-1">

                </div>
                <div class="form-group col-sm-4">
                    @Html.LabelFor(temp => temp.Experience.EndDate, "End Date")
                    @Html.TextBoxFor(model => model.Experience.EndDate,
             new { @type = "date", @class = "form-control" })
                    <br><br>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Company</legend>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    @Html.LabelFor(temp => temp.JoinDate, "Join Date")
                    @Html.TextBoxFor(model => model.JoinDate,
             new { @type = "date", @class = "form-control" })
                    @Html.ValidationMessageFor(temp => temp.JoinDate, "", new { @class = "text-danger", required = "required" })
                </div>
                <div class="form-group col-sm-1">

                </div>
                <div class="form-group col-sm-4">
                    @Html.LabelFor(temp => temp.SelectedQualificationId, "Qualification")
                    @Html.DropDownListFor(temp => temp.SelectedQualificationId, Model.QualificationList, "Select Qualification", new { @class = "form-control" })
                    @Html.ValidationMessageFor(temp => temp.SelectedQualificationId, "", new { @class = "text-danger", required = "required" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-4">
                    @Html.LabelFor(temp => temp.SelectedDepartmentId, "Department")
                    @Html.DropDownListFor(temp => temp.SelectedDepartmentId, Model.DepartmentList, "select Department", new { @class = "form-control" })
                    @Html.ValidationMessageFor(temp => temp.SelectedDepartmentId, "", new { @class = "text-danger", required = "required" })
                </div>
                <div class="form-group col-sm-1">

                </div>
                <div class="form-group col-sm-4">
                    @Html.LabelFor(temp => temp.SelectedDesignationId, "Designation")
                    @Html.DropDownListFor(temp => temp.SelectedDesignationId, Model.DesignationList, "select Designation", new { @class = "form-control" })
                    @Html.ValidationMessageFor(temp => temp.SelectedDesignationId, "", new { @class = "text-danger", required = "required" })
                </div>
            </div>


            @Html.HiddenFor(temp => temp.EmployeeStatus)




        </fieldset>
        <br />
        <br />

    </div>


    <button type="submit" class="btn btn-primary" style="float:right;margin-right:120px;">Save</button>
    <a href="/employee/listemployee" class="btn btn-primary">Back</a>



</form>

<script type="text/javascript">



    $(document).ready(function () {
        $("#MobileNumber").blur(function () {
            var number = $("#MobileNumber").val();

            $.ajax({
                url: '/RemoteValidation/getmobile?number=' + number,
                method: 'get',
                data: { number: number },
                dataType: 'json',
                success: function (msg) {
                    if (msg.msg == "found") {
                        $(".mobile-exist").text("Mobile number already exist");

                    }
                    else {
                        $(".mobile-exist").text(" ");

                    }
                },
                error: function (response) {
                    alert("error");
                }


            });


        });

    });


    $(document).ready(function () {
        $("#EmailID").blur(function () {
            var email = $("#EmailID").val();

            $.ajax({
                url: '/RemoteValidation/getemail?email=' + email,
                method: 'get',
                data: { email: email },
                dataType: 'json',
                success: function (msg) {
                    if (msg.msg == "found") {
                        $(".email-exist").text("Email already exist");
                    }
                    else {
                        $(".email-exist").text(" ");
                    }
                },
                error: function (response) {
                    alert("error");
                }


            });


        });

    });



</script>

<style>
    #active {
        background-color: grey !important;
        color: white !important;
    }
</style>

<script>

    $("a[href='/employee/listEmployee']").attr("id", "active");

</script>